* {
    font-family: Verdana, "Geneva", Tahoma, sans-serif;
    font-size: 20px;
    color: #f9cb17;
    font-weight: bold;
}

h2, h3 {
    font-family: "Nordic", sans-serif;
    margin-top: 50px;
    font-size: 30px;
}

@font-face {
    font-family: "Norse";
    src: url("fonts/Norsebold.otf") format("opentype");    
}

@font-face {
    font-family: "Viking";
    src: url("fonts/Viking-Normal.woff2") format("woff2");
}

@font-face {
    font-family: "Nordic";
    src: url("fonts/nordick.woff") format("woff");
}

h1 {
    font-family: "Nordic", sans-serif;
    font-size: 40px;
    color: #f9cb17;
    letter-spacing: 3px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6);
    text-align: center;
}


h1.title {
    font-family: "Viking", sans-serif;
    font-size: 60px;
    font-weight: bold;
    color: #f4d03f;
    letter-spacing: 3px;
    text-transform: uppercase;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6);
    display: inline-block;
    transition: text-shadow 0.4s ease, transform 0.3s ease;
}

h1.title:hover {
    color: #b6fdfd;
    text-shadow: 3px 3px 15px rgba(0, 0, 0, 0.8), 0 0 25px rgba(255, 99, 71, 0.8);
    transform: translateY(-5px);
}

button a {
    text-decoration: none;
    color: inherit;
    font-family: inherit;
    font-size: inherit;
}

button {
    font-family: "Norse", sans-serif;
    font-size: 40px;
    font-weight: bold;
    background:linear-gradient(145deg, #3a3a3a, #1f1f1f);
    color: #f4d03f;
    text-transform: uppercase;
    border: 3px solid #f4d03f;
    padding: 12px 24px;
    border-radius: 12px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
    gap: 15px; 
    display: flex;
    margin-left: 20px;
}

button:hover {
    background: #f4d03f;
    color: #1f1f1f;
    border-color: #1f1f1f;
    transform: scale(1.1);
    text-shadow: none;
}

button:active {
    background: #b8860b;
    transform: scale(0.95);
}

.button-container {
    display:flex;
    flex-direction: column;
    gap: 15px; 
    align-items: flex-start;  
}

p {
    text-align: justify;
}

body {
    background-image: url("images/odin.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}

.link {
    background-image: url("images/fondo.jpeg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    margin-left: 100px;
    margin-right: 120px;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    position: relative;
    padding-left: 30px;
    margin: 10px 0;
}

ul li::before {
    content: "⚡";
    position: absolute;
    left: 0;
    top: 2px;
    font-size: 24px;
}

ol {
    list-style: none;
    padding: 0;
    
}

ol li {
    padding: 10px 15px;
    margin-left: 40px;
}

ol li::before {
    content: "⚔️";
    font-size: 24px; 
}

button.final {
    margin-top: 80px;
    font-size: 30px;
}

strong {
    color: rgb(223, 119, 15);
    font-family: "Nordic", sans-serif;
}

img.recipes {
    display: block; 
    margin-left: auto; 
    margin-right: auto; 
    width: 500px; 
    height: auto; 
    border: 8px solid #773d06; 
    border-radius: 30px; 
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.7); 
    padding: 5px; 
    background-color: #1a1a1a;
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
}

img.recipes:hover {
    transform: scale(1.5);
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.8);
    transform-origin: top;
}

i {
    font-family: "Nordic", sans-serif;
    margin-left: 0px;
    margin-right: 0px;
}